
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
}
#__next{
  height: 100vh;
}
.google-btn{
  border-color:#cca351;
  width: 100%;
}
.google-btn:hover{
  background-color: orange;
  border-color: white;
}
.custom-toast-error-id{
  z-index: 10000000000000000000;
}
.dashboard-card{
  color: yellow;
  background-color: rgba(0,0,0,0.4);
}